@import 'variables';
@font-face {
  font-family: 'sansation';
  src: url(styles/fonts/Sansation_Regular.ttf);
}

html{
  font-size: 20px;
}
::selection{
  color: rgb(84, 160, 84);
}

:root {
  //font sizes
  --big-font: 2.5rem ;
  --bigger-font: 3rem;
  --less-big-font: 1.8rem; 
  --little-big-font: 1.1rem;
  --big-paragraph: 1.5rem; 
  --bigger-paragraph: 1.85rem;

  //colors 
  --dark-background:#051400c2 ;
  --primary-green: #0FBF00;
  --secondary-green:#A4BE00;
  --primary-white: white;
  --dark-green: #345308;
}

*{
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}

body{
  position: relative; 
  z-index : 1; 
  line-height: 1.6em ;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 80%; 
  max-width: 1200px; 
  margin: auto ;
}

h1{
  font-size: var(--big-font);
  font-weight:700;
}

h2{
  font-size: var(--less-big-font);
  font-weight: 600;
}
h3{
  font-size:var(--little-big-font);
  font-weight: 600;
}

h1,h2,h3{
  font-family: 'sansation','Ubuntu';
  line-height:1.6em;
}

@media (max-width: 700px){
  html{
    font-size: 15px
  }
}

@import 'styles/pages/home';
@import 'styles/components/fixed-backg'