//importing needs
@import 'variables';
@import 'keyframes';
@font-face {
  font-family: 'sansation';
  src: url(styles/fonts/Sansation_Regular.ttf);
}

//setting global font-size and selection color
html{
  font-size: 20px;
}
::selection{
  color: rgb(84, 160, 84);
}

//setting global variables
:root {
  //font sizes
  --big-font: 2.5rem ;
  --bigger-font: 3rem;
  --less-big-font: 1.8rem; 
  --little-big-font: 1.1rem;
  --big-paragraph: 1.5rem; 
  --bigger-paragraph: 1.85rem;

  //colors 
  --dark-background:#051400c2 ;
  --less-dark-background: #05140091;
  --primary-green:#2e964d ;
  //#2e964d
  --primary-transparent-green:#2e964dd0; 
  // #0a7700b6;
  --secondary-green:#0ea700;
  --primary-white: white;
  --dark-green: #345308;
  --white-layer: rgba(255, 255, 255, 0.89);
}

//start template
*{
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}

body{
  position: relative; 
  z-index : 1; 
  line-height: 1.6em ;
  font-family: 'Roboto', sans-serif;
}


//custom fonts and container
.container {
  width: 80%; 
  max-width: 1200px; 
  margin: auto ;
}

h1{
  font-size: var(--big-font);
  font-weight:700;
}

h2{
  font-size: var(--less-big-font);
  font-weight: 600;
}
h3{
  font-size:var(--little-big-font);
  font-weight: 600;
}

h1,h2,h3{
  font-family: 'sansation','Ubuntu';
  line-height:1.6em;
}

.App{
  &>div{
    opacity:0;
    animation: back-to-normal 500ms ease forwards;
  }
  &>.fixed-backg{
    opacity: 1;
    animation: none;
  }
}

//reducing global font-size on mobile
@media (max-width: 750px){
  html{
    font-size: 15px
  }
}

//scroll bar 
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-green);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-green);
}


@import 'styles/pages/home';
@import 'styles/components/fixed-backg'