//importing needs
@import 'variables';
@import 'keyframes';
@font-face {
  font-family: 'sansation';
  src: url(styles/fonts/Sansation_Regular.ttf);
}

//setting global font-size and selection color
html{
  font-size: 20px;
}
::selection{
  color: rgb(84, 160, 84);
}

//setting global variables
:root {
  //font sizes
  --big-font: 2.5rem ;
  --bigger-font: 3rem;
  --less-big-font: 1.8rem; 
  --little-big-font: 1.1rem;
  --big-paragraph: 1.5rem; 
  --bigger-paragraph: 1.85rem;

  //colors 
  --dark-background:#051400c2 ;
  --less-dark-background: #05140091;
  --primary-green:#2e964d ;
  //#2e964d
  --primary-transparent-green:#2e964dd0; 
  // #0a7700b6;
  --secondary-green:#0ea700;
  --primary-white: white;
  --dark-green: #345308;
  --white-layer: rgba(255, 255, 255, 0.89);
}

//start template
*{
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}

body{
  position: relative; 
  z-index : 1; 
  line-height: 1.6em ;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  background-color: var(--primary-green);
}


//custom fonts and container
.container {
  width: 80%; 
  max-width: 1200px; 
  margin: auto ;
}

h1{
  font-size: var(--big-font);
  font-weight:700;
}

h2{
  font-size: var(--less-big-font);
  font-weight: 600;
}
h3{
  font-size:var(--little-big-font);
  font-weight: 600;
}

h1,h2,h3{
  font-family: 'sansation','Ubuntu';
  line-height:1.6em;
}

.App{
  &>div{
    opacity:0;
    animation: back-to-normal 500ms ease forwards;
  }
  &>.fixed-backg{
    opacity: 1;
    animation: none;
  }
}

//reducing global font-size on mobile
@media (max-width: 750px){
  html{
    font-size: 15px
  }
}

//scroll bar 
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-green);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-green);
}

.App{
  transition: transform 1000ms ease 200ms;
  transform-origin: top;
}
.App.invisible{
  transform: scale(0.5) translateY(150vh);
}

.loading{
  color: white;
  position: fixed;
  top:0; left:0;
  width: 100%;height: 100vh;
  z-index: 200;
  background-color:rgb(0, 22, 7);
  display: flex; 
  justify-content: center;
  align-items: center;
  pointer-events: none;
  video{
    width: 100%;
    max-height: 100vh;
  }
  transition:transform 2000ms ease;
  &.entered{
    &.cos-left{
      transform: translateX(-100%);
    }
    &.cos-right{
      transform: translateX(100%);
    }
  }
  
}

.text-layer{
  color: white;
  position: fixed;
  z-index:300;
  width: 100%;
  height: 100vh;
  top:0; left: 0;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .wait{
    opacity:0;
    margin-top: auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    svg{
      font-size: 2rem;
      animation: rotate-360 1000ms ease infinite; 
    }
  }
  .enter-button{
    opacity:0;
    cursor: pointer;
    $size: 100px;
    width: $size;
    height: $size;
    border: 3px solid white;
    background-color:transparent;
    color: white;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    font-size: 1.2rem;
    align-items: center;
    margin-top: auto;
    margin-bottom: 20px;
    transition: background-color 300ms ease;
    &:hover{
      background-color: var(--primary-green);
    }
  }

  &.video-ended{
    .wait{
      opacity: 1;
    }
  }

  &.show-button{
    .enter-button{
      opacity:1;
    }
    .wait{
      opacity:0;
    }
  }

  &.entered{
    display:none;
  }
}


@import 'styles/pages/home';
@import 'styles/components/fixed-backg'